* {
}

body {
  background-color: #ccc;
  margin: 0;
  padding: 0;
}

.video-area {
  width: 50%; 

  float: left;
}
.video {
  padding: 10px;  
}
.video-body {
  width: 300px;
  height: 200px;
  background-color: #000;
}
.video-nav {
  
}

.info-area {
  float: right;
  width: 50%; 
}
.info {
  padding: 10px;
}
.info-location {

  background-color: #fff;
}
.info-map {

  background-color: #fff;
}


.location-area {
  padding: 10px;
}
.location {
  background-color: #fff;
}

.map-area {
  padding: 10px;
}
.map {
  background-color: #000;
  width: 240px;
  height: 160px;
}
